* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  min-height: 100vh;
  background-color: #b2bec3;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: 'header header'
                       'aside main';
}

header {
  grid-area: header;
  background-color: #2d3436;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  padding: 10px;
}

.header__title {
  font-size: 45px;
}

.sign-in, .sign-out {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.sign-in:hover,
.sign-out:hover {
  color: #dfe6e9;
}

.user__signed {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #fff;
}

.user-name {
  margin-right: 50px;
  font-size: 24px;
}

.user-pic {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
}

aside {
  display: flex;
  justify-content: center;
  grid-area: aside;
  padding: 30px;
  background-color: #636e72;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

form * {
  margin: 10px 0;
  height: 40px;
  width: 250px;
  border: 0;
}

input {
  font-size: 18px;
  background-color: #dfe6e9;
  padding: 10px;
}

form button {
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  color: #dfe6e9;
  background: #222f3e;
}

form div {
  display: flex;
}

.check {
 margin: 0;
 cursor: pointer;
}

label {
  font-size: 20px;
  width: 135%;
  color: #dfe6e9;
}

.books {
  grid-area: main;
  padding: 20px;
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.book {
  border: 1px solid #000;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: fit-content;
  position: relative;
}

.book-delete {
  position: absolute;
  top: 3px;
  right: -3px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.book-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.book-author {
  margin-bottom: 20px;
  font-size: 20px;
}

.book-pages {
  margin-bottom: 20px;
  font-size: 20px;
}

.book-readed {
  border: 0;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  font-size: 18px;
  color: #dfe6e9;
  background: #222f3e;
}